<h2>Dashboard</h2>
<div class="main-container">
    <div class="diagram-block" id="chart-1">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [responsive]="chartOptions.responsive"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"></apx-chart>
    </div>
    <div  class="diagram-block" id="chart-2">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [stroke]="chartOptions2.stroke"
          [dataLabels]="chartOptions2.dataLabels"
          [plotOptions]="chartOptions2.plotOptions"
          [xaxis]="chartOptions2.xaxis"
          [colors]="chartOptions2.colors"
          [fill]="chartOptions2.fill"
          [yaxis]="chartOptions2.yaxis"
          [title]="chartOptions2.title"
          [legend]="chartOptions2.legend"
        ></apx-chart>
      </div>
</div>