<div class="advForm">
  <div class="mat-dialog-title">
    <h4 class="title" *ngIf="!isUpdate">Add event</h4>
    <h4 class="title" *ngIf="isUpdate">Update event</h4>
    <mat-dialog-actions>
      <mat-icon class="material-symbols-outlined" mat-dialog-close>close</mat-icon>
      <!-- <mat-icon aria-hidden="false" mat-dialog-close>close</mat-icon> -->
    </mat-dialog-actions>
  </div>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="requestForm" validate>
      <div class="select-container">
        
        <div class="dialog-content-item">
          <mat-form-field>
            <mat-label class="label">Date</mat-label>
            <input
            matInput
            [matDatepicker]="picker"
            placeholder="дд/мм/гггг"
              formControlName="date"
              
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon class="material-icons-outlined">
                calendar_today
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="dialog-content-item">
          <mat-checkbox formControlName="status">Completed</mat-checkbox>
        </div>
      </div>

      <div class="dialog-content-item">
        <mat-label class="label">Event</mat-label>
        <textarea matInput class="textarea" formControlName="name" rows="2"></textarea>
      </div>
      <div class="dialog-content-item">
        <mat-label class="label">Participants</mat-label>
        <textarea matInput class="textarea" formControlName="participants" rows="1"></textarea>
      </div>

      <div class="select-container">
        <div class="dialog-content-item">
            <mat-form-field appearance="fill">
              <mat-label class="label">Repeat</mat-label>
              <mat-select formControlName="repeat">
                <mat-option *ngFor="let period of REPEAT_PERIOD" [value]="period">
                  {{period}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="dialog-content-item">
            <mat-form-field appearance="fill">
              <mat-label class="label">Category</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let item of CATEGORIES" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>

      <mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          class="action-button"
          (click)="onSend()"
        >
          Save
        </button>
        <button
          mat-raised-button
          class="action-button"
          color="secondary"
          mat-dialog-close
        >
          Cancel
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
