html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Open Sans, "Open Sans", sans-serif;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  app-page-wrapper {
    width: 100%;
  }
}