$white: #fff;
$black: #000;

$font-black: rgb(22, 22, 22);

$primary-accent-900: rgba(91, 19, 88, 1);
$primary-accent-700: rgba(114, 18, 110, 1);
$primary-accent-500: rgba(137, 17, 132, 1);
$primary-accent-300: rgba(184, 112, 181, 1);
$primary-accent-100: rgba(255, 240, 254, 1);

$secondary-accent-900: rgba(23, 76, 139, 1);
$secondary-accent-700: rgba(23, 108, 208, 1);
$secondary-accent-500: rgba(23, 130, 255, 1);
$secondary-accent-300: rgba(209, 230, 255, 1);
$secondary-accent-100: rgba(243, 249, 255, 1);